.adventureSelector {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 20em;
  width: 50%;
}

.adventureList {
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.adventureList .adventureButton {
  padding: 1em;
  border-radius: 0.25em;
  background-color: rgb(200, 200, 200, 0.3);
  text-align: center;
  margin: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.adventureList .adventureButton:hover {
  background-color: rgb(255, 255, 255, 0.3);
}