.adventure {
  margin: auto;
  margin-top: 1em;
  padding: 1em;
}

.adventure h2 {
  margin-top: 0;
  margin-left: 5%;
}

.sceneControls {
  display: grid;
  grid-template-columns: 350px 8em;
}

.sceneList {
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
}

/* This is *really* silly... */
@media (min-width: 850px) { .sceneControls { grid-template-columns: 700px 8em; }}
@media (min-width: 1200px) { .sceneControls { grid-template-columns: 1050px 8em; }}
@media (min-width: 1550px) { .sceneControls { grid-template-columns: 1400px 8em; }}
@media (min-width: 1900px) { .sceneControls { grid-template-columns: 1750px 8em; }}
@media (min-width: 2250px) { .sceneControls { grid-template-columns: 2100px 8em; }}
@media (min-width: 2600px) { .sceneControls { grid-template-columns: 2450px 8em; }}
@media (min-width: 2950px) { .sceneControls { grid-template-columns: 2800px 8em; }}
@media (min-width: 3300px) { .sceneControls { grid-template-columns: 3150px 8em; }}

.sceneButton {
  width: 350px;
  height: 300px;
  max-width: 85%;
  text-align: center;
  margin: 1em;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sceneButton.active {
  border: 2px solid green;
}

.sceneButton:hover, .sceneButton.selected, .sceneSidebar button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.sceneThumbnail {
  width: 350px;
  height: 200px;
  max-width: 85%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.sceneButton img {
  border-radius: 0.25em;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.sceneCaption {
}

.sceneSidebar {
  border-radius: 0 0.25em 0.25em 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 1em;
  width: 5em;
  height: 4em;
  text-align: center;
  padding-top: 1em;
}

.sceneSidebar button {
  border: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.25em;
  color: #d0d0d0;
  font-size: 24pt;
  font-weight: bold;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

@media(max-width: 450px) {
  .sceneSidebar {
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    padding-top: 0.5em;
    margin-top: 0;
  }
  .adventure h2 {
    font-size: 14pt;
    margin-top: 1em;
  }
  .sceneSidebar button {
    font-size: 14pt;
  }
  .sceneList {
    position: fixed;
    top: 4em;
    bottom: 1em;
    overflow-y: scroll;
  }
  .sceneButton:last-of-type:after {
    content: "";
    display: block;
    height: 1em;
  }
}